*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* navbar */
.navbar-nav{
    margin-left: auto;
    font-family: 'Montserrat' sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(65, 65, 66);
 }

 .navbar .nav-item .nav-link:hover{
    color: #5029bc !important;
 }
 
 .nav-link.ac{
    color: #3e2093 !important;
 }
 
 .navbar-nav .nav-item{
   margin: 0px 10px auto;
}

.dropdown-menu .dropdown-item{
    color: #fff;
}


/* navbar dropdown hover */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block;}
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

/* home */

#home{
    text-align: center;
    background-image: url(../img/hero.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
    padding-top: 220px;
    padding-bottom: 350px;
	position: relative;
    width: 100%;
    height: 100%;
	z-index: 1;
 }

 
#home::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(6, 1, 37);
	opacity: 0.7;
	z-index: -1;
}


.title{
    font-family: 'Montserrat' sans-serif;
    font-weight: 600;
    font-size: 80px;
    color: #fff;
}


/* products */

#products{
    padding-top: 80px;
    background:#fff;
}

.title2{
font-size: 20px;
padding: 20px;
color: rgb(179, 152, 112);
}

#products .card{
    width: 15rem;
    height: 15rem; }
   

    .overley{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
      }
    
       .card:hover .overley{
            height: 23%;
           
      }
    
     .card:hover .card-img-top {
        transform: scale(1.1);
        opacity: .8;
     }
    
     .card:hover{
        border-radius: 15px;
     }
    
    
      .card-btn{
        height: 45px;
        width: 120px;
        font-size: 16px;
        border-radius: 10px;
        color: #fff;
        background:  rgb(110, 65, 192);
     }
   
    #products .card img{
       width:200px;
       height:350px;
       padding: 30px;
    }
   
    #products .card-text{
       font-family: 'Montserrat' serif;
       font-style: normal;
       font-weight: 400;
       font-style: italic;
       font-size: 18px;
       color:  rgb(71, 8, 100);
       text-align: center;
       margin: 10px auto;
    }
.tabContainer{
    width: auto;
    height: 800px;
}

.tabContainer .buttonContainer{
    height: 15%;
    width: 100%;
}

.buttonContainer{
    margin:0;
   
}

.buttonContainer button a{
    font-size: 16px;
    padding: 0px;
}




.tabContainer .buttonContainer button{
    width: 400px;
    height: auto;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 0px;
    margin-left:10px;
    font-family: 'Montserrat' serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    background-color: #ffffff;
    border: none;
}
.tabContainer .buttonContainer button:hover{
    background-color: #ffffff;
}
.tabContainer .tabPanel{
    height: 85%;
    background-color: none;
    color: rgb(3, 3, 3);
    text-align: center;
    padding-top: 3px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
}

.active{
    text-decoration: none;
    color: aqua;
}
 
#contact{

    text-align: center;
    background-image: url(../img/hero.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 100%;
	z-index: 1;

}

 
#contact::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(6, 1, 37);
	opacity: 0.7;
	z-index: -1;
}

.cc{
    text-align: center;
    font-family: 'Montserrat' serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #eaeaec;
    padding-top: 100px;
    padding-bottom: 100px;
}


.cb{
    height: 45px;
	width: 145px;
    margin-top: 50px;
	background-color:  rgb(110, 65, 192);
	border: none;
	color: #fff;
	opacity: 90%;
	border-radius: 40px;
	font-size: 18px;
	font-style: normal;
    font-weight: 400;
}

.cb:hover {
    background: rgb(135, 83, 233);
    opacity: .9;
	
}




 /*footer */
#footer{
    background:#080808;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
} 

#footer .ft {
    padding: 50px;
    
}

#footer .ft p{
color: #807d7d;
}

#footer ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
}

#footer ul li a:hover{
    color: #5029bc;
}




.footer_caption{
    margin-top: 130px;
}

#footer ul{
    list-style: none;
    display: flex;
}


#footer button{
    height: 45px;
	width: 145px;
    margin-top: 30px;
	background-color: #3e2093;
	border: none;
	color: #fff;
	opacity: 90%;
	border-radius: 40px;
	font-size: 18px;
	font-style: normal;
    font-weight: 400;
}

#footer button:hover {
    background: #5029bc;
}

.cap-1{
    width: 30%;
}
.cap-2{
    width: 70%;
}

/* copyright */

#cr{
    
    background: #fff;
    padding-top: 5px;
  }
  
  #cr h4{
      color: #1c1e1f;
      font-family: 'Montserrat' sans-serif;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
  } 





@media screen and (min-width:320px) and (max-width:767px){
    .tabPanel{
        margin-top: 150px;
    }
    .title{
        font-size: 40px;
    }

    #products{
        padding-bottom: 1550px;
    }

    #contact h3{
        padding: 20px;
    }

    .cb{
        margin-top: 10px;
    }
}

@media screen and (min-width:768px) and (max-width:991px){
    .tabPanel{
        margin-top: 50px;
    }

    
    #contact h3{
        padding: 20px;
    }

    .cb{
        margin-top: 20px;
    }

    #products .card{
        width: 10rem;
        height: 12rem; }
       
}

@media screen and (min-width:1200px){
     .tabContainer{
        min-width: 1200px;
     }
}



/* product page */

@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

body{
	background: #f7f8fc;
	color: #555555;
}

.wrapper{
	width: 1200px;
	margin: 50px auto;
}

.button_grp ul{
	display: flex;
}

.button_grp ul li{
	background: #fff;
	margin: 10px;
	padding: 10px 15px;
	min-width: 80px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s ease;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.125);
}

.button_grp ul li.active,
.button_grp ul li:hover{
	background: #0000fe;
	color: #fff;
}

.item_grp{
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
}

.item_grp .item{
	width: 125px;
	height: auto;
	background: #fff;
	margin: 10px;
	border-radius: 5px;
	padding: 15px;
	text-align: center;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.125);
}

.item_grp .item .icon_wrp{
	display: flex;
	align-items: center;
	height: 85px;
}

.item_grp .item .icon{
	background: url('https://i.imgur.com/TbvQhl2.png') no-repeat 0 0;
	width: 64px;
	height: 52px;
	display: inline-block;
	margin: 0 auto;
}

.item_grp .item.folders .icon{
	background-position: 0 0;
	width: 64px;
	height: 52px;
}

.item_grp .item.files .icon{
	background-position: 0 -66px;
	width: 48px;
	height: 64px;
}

.item_grp .item.images .icon{
	background-position: 0 -146px;
	width: 64px;
	height: 50px;
}

.item_grp .item.sheets .icon{
	background-position: 0 -210px;
	width: 64px;
	height: 60px;
}

.item_grp .item.pdfs .icon{
	background-position: 0 -282px;
	width: 56px;
	height: 64px;
}

.item_grp .item.documents .icon{
	background-position: 0 -363px;
	width: 64px;
	height: 62px;
}

